<div class="row">
  <a href="#/hotels/{{hotel.id}}"><div class="col-md-12">
    <div class="col-md-5">
      <div class="panslist-thumb" ng-style="hotel.albums.length > 0 ? {'background': 'url({{hotel.cover_url}}', 'background-size':'cover'} : {'background':'url(http://www.stat.colostate.edu/statpeople/images/photos/photo_not_available.png)', 'background-size':'cover'}">
      </div>
    </div>
    <div class="col-md-7">
      <p><span><h3>{{hotel.name}}</h3></span></p>
      <p><span><h4>{{hotel.city_name}}</h4></span></p>
      <p><span><h5>{{hotel.description | limitTo:140}}...</h5></span></p>
      <button type="button" class="btn btn-warning btn-xs" ng-if="hotel.has_wifi">Wi-Fi</button>
      <button type="button" class="btn btn-success btn-xs" ng-if="hotel.has_private_kitchen">Кухня</button>
      <button type="button" class="btn btn-info btn-xs" ng-if="hotel.has_food">Питание</button>
      
      <button type="button" class="btn btn-primary btn-xs" ng-if="hotel.has_tv">TV</button>
      <button type="button" class="btn btn-danger btn-xs" ng-if="hotel.has_private_shower">Душ</button>
      <button type="button" class="btn btn-warning btn-xs" ng-if="hotel.has_conditioning">Кондиционер</button>
      <button type="button" class="btn btn-success btn-xs" ng-if="hotel.has_fridge">Холодильник</button>
      <button type="button" class="btn btn-info btn-xs" ng-if="hotel.has_parking">Чайник</button>
      
      <button type="button" class="btn btn-primary btn-xs" ng-if="hotel.has_parking">Парковка</button>
      <button type="button" class="btn btn-danger btn-xs" ng-if="hotel.has_transfer">Трансфер</button>
      
      <button type="button" class="btn btn-warning btn-xs" ng-if="hotel.has_private_kitchen">Бассейн</button>
      <button type="button" class="btn btn-success btn-xs" ng-if="hotel.has_tv">Детская площадка</button>
      <button type="button" class="btn btn-info btn-xs" ng-if="hotel.has_conditioning">Лежаки/Зонтики</button>
      
    </div>
  </div></a>
</div>