<div class="howitwork">
	<div class="howitwork-img">
		<div class="row">
			<div class="col-md-3 fall">
				<div class="step-one">
					<img src="/assets/howitwork/pink-1.png" alt="">
				</div>	
				<div class="howitwork-allhotels">
					<h4>Начать поиск</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="step-two">
					<img src="/assets/howitwork/teal-1.png" alt="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="step-three">
					<img src="/assets/howitwork/blue-1.png" alt="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="step-four">
					<img src="/assets/howitwork/yellow-1.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<h4 class="text-center">Хотите добавить свое предложение? Это очень просто! <a href="#/new">Добавить предложение.</a></h4>
</div>

<header ng-controller="Header">
	<div class="videocontainer">
		<video id="myVideo" autoplay loop>
			<source src="/assets/sea_background.mp4" type="video/mp4">
		</video>
	</div>
	<h1>Отдых на Арабатской стрелке 2016</h1>
	<nav>
		<div class="container-fluid">
			<div class="row">
				<div class="brand pull-left"><a href="#/home"><img src="/assets/icon/logo.png" alt=""> <li>Rest In <b style="color:yellow;font-weight:900">Ukraine</b></li></a></div>
				<div class="navigation pull-right">
					<ul>
					<li class="addpans-material"><a href="#/new"><md-button class="md-raised">Добавить предложение</md-button></a></li>
					<li ng-hide="myuser.role == 'own'"><a href="#filters" class="foundFilter">Подобрать место</a></li>
					<li><a href="#/help">Помощь</a></li>
					<li ng-if="!myuser"><a href="#/registration">Регистрация</a></li>
					<li ng-if="!myuser"><a href="#/login">Войти</a></li>
					<li ng-if="myuser.role == 'own'"><a href="#/profile/{{user.id}}">Мой профиль</a></li>
					<li ng-if="myuser" ng-controller="Logout"><a href="#" ng-click="logout()">Выйти</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<h3>Самый удобный сайт по отдыху</h3>
	<div class="howitwork-button">
		<h4>Как это работает</h4>
	</div>
</header>
