<div ng-include="'shared/headernew.html'"></div>

<div class="container-fluid newhotel">
  <h2 class="text-center">Редактировать пансионат "{{hotel.name}}"</h2>
  <h4 class="text-center">С нами вы увеличите количество звонков и бронирований</h4>
</div>

<div class="container">
<h3 class="text-center" ng-if="!myuser">К сожалению, вы не имеете доступа к этой странице</h3>

  <div class="container" ng-if="myuser" ng-controller="NewHotel">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <form name="hotelnew" class="simple_form form-horizontal" novalidate="novalidate" id="new_hotel" ng-submit="update()" accept-charset="UTF-8">

        <hashotel></hashotel>

        <input ng-disabled="!hotelnew.$valid" type="submit" name="commit" class="btn btn-lg btn-info" value="Отредактировать" />
        <p ng-show="!hotelnew.$valid" style="color: red;"><br>Вам необходимо заполнить все поля</p>
      </form>
    </div>
    <div class="newhotel-buypremium ">
      <h2>Хотите увеличить количество просмотров вашего пансионата?</h2>
      <h4>Пансионаты с <span style="color:#2F8C32;font-weight:700">премиум</span> аккаунтом получают <span style="color:rgb(255, 64, 108);font-weight:700">в 8 раз больше просмотров</span>, чем обычные предложения.</h4> 
      <h4>Количество звонков увеличивается более чем в 10 раз!</h4>
      <button class="btn btn-lg btn-success">Подробнее</button>
      <button class="btn btn-lg btn-success">Купить премиум</button>
    </div>
  </div>
</div>
</div>