<title>Отдых на Арабатской стрелке 2016 | Удобный выбор жилья | Отдыхайте в Украине</title>
<div ng-if="width() > 993" ng-include="'shared/header.html'"></div>
<div ng-if="width() < 993" ng-include="'shared/headernew.html'"></div>
<div id="arrowsup">
  <p>&#8679;</p>
</div>
<div class="container premium">
  <div class="row">
    <h2 class="text-center">Рекомендуем обратить внимание:</h2>
    <h4 class="text-center">Места, которым доверяют наши пользователи. Самые высокие оценки.</h4>
    <div class="col-md-4" ng-repeat="premium in ranked_hotels | filter: premiumFilter | orderBy: 'rank' | limitTo:10 ">
      <a href="#/hotels/{{premium.id}}"><div class="premium-main" 
      ng-style="premium.albums.length > 0 ? {'background': 'url({{premium.albums[0].photos[0].photo.mysize.url}}', 'background-size':'cover'} : {'background':'url(http://www.stat.colostate.edu/statpeople/images/photos/photo_not_available.png)', 'background-size':'cover'}">
        <h2>{{premium.name}}</h2>
      </div></a>
    </div>
  </div>
</div>

<a href="#/premium"><button type="button" class="morepremium center-block">Больше рекомендаций</button></a>

<div id="filters" class="container-fluid">
  <div class="mainblock">
    <h2 class="text-center">Используйте удобные фильтры</h2>
    <h4 class="text-center">Найдите идеально место, которое полностью подойдет вам.</h4>  
  </div>
  <div class="row">
    <div class="leftsidebar col-md-4 col-md-offset-1 col-xs-12">
      <div class="pansfilter">
        <!-- Город, Тип, Стоимость // Фильтр -->
        <pansfilter></pansfilter>
        <!-- Удобства // Фильтр -->
        <comfort></comfort>
      </div>
    </div>
    <div class="col-md-6 col-xs-12" style="padding-right: 0px;">
      <div class="panslist myfade" ng-repeat="hotel in hotels | filter: {name: query} | filter:citynameFilter | filter:hastvFilter | filter:hasparkingFilter | filter: minpriceFilter | filter: haskitchenFilter | filter: hasairFilter | filter: hasshowerFilter | filter: haswifiFilter | filter: hastransferFilter | filter: typeFilter | filter: haspoolFilter | orderBy:sortbyprice:reverse | orderBy:hotel.id:!reverse | limitTo:10">
        <!-- Список пансионатов // ROW -->
        <panslistrow></panslistrow>
      </div>
    </div>
  </div>
</div>

<a href="#/allhotels"><button type="button" class="morehotels center-block">Весь список</button></a>
<!-- Инфо-кнопка Добавить пансионат -->
<infoaddpans></infoaddpans>

<!-- SLIDER -->
<slider></slider>

<div class="add">
  <h2 class="text-center">Добавляйте, рекомендуйте, оставляйте отзывы.</h2>
  <h4 class="text-center">Вместе расскажем о самых лучших курортах Украины</h4>
</div>