<title>Добавить пансионат на сайт | Rest In Ukraine</title>
<div ng-include="'shared/headernew.html'"></div> 

<div class="container-fluid newhotel">
  <h2 class="text-center">Добавьте свое предложение</h2>
  <h4 class="text-center">С нами вы увеличите количество звонков и бронирований</h4>
</div>

<div class="container" ng-if="!myuser">
  <div class="row">
    <h3 class="text-center">Добавить жилье могут только зарегистрированные пользователи</h3>
    <div class="col-md-12">
      <h4 class="text-center"><a href="#/login">Войти</a> | <a href="#/registration">Регистрация</a></h4>
    </div>
  </div>
</div>

<div class="container" ng-if="myuser.role == 'restman'">
  <div class="row">
    <h3 class="text-center">Добавить жилье могут только владельцы, вы же зарегистрировались, как <b>отдыхающий</b> :(</h3>
    <div class="col-md-12">
      <h4 class="text-center"><a href="#/allhotels">Подобрать жилье</a></h4>
    </div>
  </div>
</div>

<div class="container" ng-if="myuser.role == 'own'" ng-controller="NewHotel">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <form name="hotelnew" class="simple_form form-horizontal" novalidate="novalidate" id="new_hotel" ng-submit="save()" accept-charset="UTF-8">

        <hashotel></hashotel>

        <input ng-disabled="!hotelnew.$valid" type="submit" name="commit" class="btn btn-lg btn-info" value="Добавить место" />
        <p ng-show="!hotelnew.$valid" style="color: red;"><br>Вам необходимо заполнить все поля</p>
      </form>
    </div>
    <div class="newhotel-buypremium ">
      <h2>Хотите увеличить количество просмотров вашего пансионата?</h2>
      <h4>Пансионаты с <span style="color:#2F8C32;font-weight:700">премиум</span> аккаунтом получают <span style="color:rgb(255, 64, 108);font-weight:700">в 8 раз больше просмотров</span>, чем обычные предложения.</h4> 
      <h4>Количество звонков увеличивается более чем в 10 раз!</h4>
      <button class="btn btn-lg btn-success">Подробнее</button>
      <button class="btn btn-lg btn-success">Купить премиум</button>
    </div>
  </div>
</div>
