<div ng-include="'shared/headernew.html'"></div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Рекомендуем обратить внимание:</h2>
    <h4 class="text-center">Места, которым доверяют наши пользователи. Самые высокие оценки.</h4>
    <div class="col-md-4 premium-hotels" ng-repeat="premium in ranked_hotels | filter: premiumFilter | orderBy: 'rank' | limitTo:20 ">
      <!-- Не работает |orderBy:random ПОЧЕМУ? -->
      <a href="#/hotels/{{premium.id}}"><div class="premium-main" style="background: {{mycolor}}">
        <h2>{{premium.name}}</h2>
      </div></a>
    </div>
  </div>
</div>