<div ng-include="'shared/headernew.html'"></div>

<div class="headimg" style="background: url(https://a2.muscache.com/im/pictures/6922397/b731bec8_original.jpg?aki_policy=xx_large)">
  <div class="container headimg-hotelname">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h2>{{hotel.name}}</h2>
      </div>
      <div class="col-md-6 col-xs-12">
        <h3>{{hotel.city_name}}</h3>
      </div>
    </div>
  </div>
</div>  

<div class="hotelsbutton">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Описание жилья</h4>
        <p>{{hotel.description}}</p>
      </div>
      <div class="col-md-6 text-center">
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_tv">
          <label><img src="/assets/icon/technology.png"><br><p>Телевизор</p></label>
        </div>
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_parking">
          <label><img src="/assets/icon/parking.png"><br><p>Парковка</p> </label>
        </div>
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_private_kitchen">
          <label><img src="/assets/icon/kitchen.png"><br><p>Кухня</p></label>
        </div>
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_conditioning">
          <label><img src="/assets/icon/conditioning.png"><br><p>Кондиционер</p></label>
        </div>
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_private_shower">
          <label><img src="/assets/icon/shower.png"><br><p>Душ</p></label>
        </div>
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_wifi">
          <label><img src="/assets/icon/wi-fi.png"><br><p>Wi-Fi</p></label>
        </div>
        <div class="col-sm-3 col-xs-6" ng-if="hotel.has_transfer">
          <label><img src="/assets/icon/delivery.png"><br><p>Трансфер</p></label>
        </div>
        
      </div>
      
    </div>
  </div>
</div>

<div class="page-header">
  
</div>

<div class="row">
  <div class="col-md-4">Где находится</div>
  <div class="col-md-4">{{hotel.city_name}}</div>
</div>

<div class="row">
  <div class="col-md-4">Описание</div>
  <div class="col-md-4">{{hotel.description}}</div>
</div>

<div class="row">
  <div class="col-md-4">Email</div>
  <div class="col-md-4">{{hotel.email}}</div>
</div>

<div class="row">
  <div class="col-md-4">Телефоны</div>
  <div class="col-md-4">{{hotel.phones}}</div>
</div>

<div class="row">
  <div class="col-md-4">Всего комнат</div>
  <div class="col-md-4">{{hotel.total_rooms}}</div>
</div>

<div class="row">
  <div class="col-md-4">Комнат класса люкс</div>
  <div class="col-md-4">{{hotel.total_luxes}}</div>
</div>

<div class="row">
  <div class="col-md-4">Людей в комнате</div>
  <div class="col-md-4">{{hotel.people_in_room}}</div>
</div>

<div class="row">
  <div class="col-md-4">Расстояние до моря</div>
  <div class="col-md-4">{{hotel.dist_from_the_sea}}</div>
</div>
