<div ng-include="'shared/headernew.html'"></div>

<div class="page-header">
  <h3>{{hotel.name}}</h3>
</div>

<div class="row">
  <div class="col-md-4">Где находится</div>
  <div class="col-md-4">{{hotel.city_name}}</div>
</div>

<div class="row">
  <div class="col-md-4">Описание</div>
  <div class="col-md-4">{{hotel.description}}</div>
</div>

<div class="row">
  <div class="col-md-4">Email</div>
  <div class="col-md-4">{{hotel.email}}</div>
</div>

<div class="row">
  <div class="col-md-4">Телефоны</div>
  <div class="col-md-4">{{hotel.phones}}</div>
</div>

<div class="row">
  <div class="col-md-4">Всего комнат</div>
  <div class="col-md-4">{{hotel.total_rooms}}</div>
</div>

<div class="row">
  <div class="col-md-4">Комнат класса люкс</div>
  <div class="col-md-4">{{hotel.total_luxes}}</div>
</div>

<div class="row">
  <div class="col-md-4">Людей в комнате</div>
  <div class="col-md-4">{{hotel.people_in_room}}</div>
</div>

<div class="row">
  <div class="col-md-4">Расстояние до моря</div>
  <div class="col-md-4">{{hotel.dist_from_the_sea}}</div>
</div>
