/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "angular-material/angular-material.css";
@import "Swiper/dist/css/swiper.min.css";
@import "Swiper/dist/css/swiper.css";
@import "ngGallery/src/css/ngGallery.css";
@import "ngGallery/src/css/screen.css";
@import "angular-xeditable/dist/css/xeditable.min.css";
@import url(https://fonts.googleapis.com/css?family=Roboto);


@font-face {
	font-family: Epsilon;
  src: url(/assets/Epsilon.TTF); 
}

@media screen and (max-width: 640px) {
	.slider {
		display: none !important;
	}
	.navigation li {
		width: 100% !important;
	}
	.info {
		padding-left: 10px !important;
		text-align: center !important;
	}
	.howitwork-button {
		display: none !important;
	}
	.brand {
		li {
			margin-top: 10px !important;
		}
		img {
			margin-top: -3px; 
		}
	}
	.text-center .form-inputs {
		margin: 20px 0px !important;
	}
	label {
		font-size: 14px !important;
	}
	.tv, .parking, .kitchen, .air, .delivery, .wi-fi, .shower, .pool, .food, .kettle, .sunbeds, .playground, .fridge, .laundry {
		width: 160px !important;
	}
	.help {
		img {
			display:none;
		}
	}
	.articles .head {
		display: none;
	}
}


/***************
		PRELOADER
***************/
 
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #79cccd;
    z-index: 100500;
}

#page-preloader .spinner {
    position: absolute;
    top: 44%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-size:26px;
    text-align: center;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

.margin-bottom {
	margin-bottom: 30px;
}

.flex {
	display: flex;
	justify-content: center;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background: #f5f5f5;
	height: auto;
}

label {
	margin-bottom: 10px !important;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
}

.choosecity label {
	width: 50%;
	height: 30px;
	padding-left: 10px;
	padding-top: 3px;
}

/* ul.genich .genich,
ul.gengorka .gengorka,
ul.schast .schast,
ul.strelkovoe .strelkovoe {
	background: #1c8cce;
	box-shadow: 0px 0px 4px 1px grey;
}
*/

.howitwork {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	z-index:-1;
	
	img {
		padding: 40px 35px 0px 35px;
		position: relative;
		z-index:1;
	}

	.fall {
		position: relative;

		.howitwork-allhotels {
		  position: absolute;
    	bottom: 140px;
    	left: 120px;
    	z-index: 0;
    	font-family: 'Epsilon';
		}
	}
}

.fall-animate {
	-webkit-animation: step-one 1.8s;
  -moz-animation: step-one 1.8s; 
  -o-animation: step-one 1.8s; 
	animation: step-one 1.8s  ;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

.flex-howitwork {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

header {
	height: 400px;
	position: relative;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: -15px;
	margin-right: -15px;
	z-index:1;
	.howitwork-button {
	  width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
	}
	h3 {
		position: relative;
		margin-top: 55px;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-shadow: 0px 0px 1px black;
	}
	h4 {
	  width: 240px;
    background: rgba(255,255,255,0.7);
    color: #4A4956;
    font-size: 21px;
    padding: 9px 27px;
    border-radius: 3px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
	}
	h4:hover {
		color: #fff;
		background: rgba(0,0,0,0.6);
	}
}

.headernew {
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
	background-color: #039BE5;
	margin-left: -15px;
	margin-right: -15px;
	z-index:1;
}

.togglemenu {
	padding: 15px;
}

.navbar-toggle .icon-bar {
	background: white;
}

.navbar-collapse {
	box-shadow: none !important;
}

#arrowsup {
	display:none;
	color: rgba(255,255,255,0.87);
	background-color: rgb(16,108,200);
  top: auto;
  right: 40px;
	bottom: 60px;
  left: auto;
  position: fixed;
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  transition: all .3s cubic-bezier(.55,0,.55,.2);
  transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,transform;
}

#arrowsup p {
	font-size: 40px;
	text-align: center;
}


#arrowsup2 {
	display:none;
	z-index:1200;
	position: fixed;
	right: 40px;
	bottom: 40px;
	cursor: pointer;
}

nav {
	position: relative;
	color: white;
}

nav a {
	color: white;
}

nav a:hover {
	text-decoration: none;
}

h1 {
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
	font-size: 45px;
	font-weight: 700;
	text-align: center;
	color: white;
	padding: 25px;
  margin-bottom: 0px;
  text-transform: uppercase;
  position: absolute;
	width: 100%;
	bottom: 0px;
}

.panslist {
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 50px;
	background: white;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  h3 {
  	color: #337ab7;
  	line-height: 0.8;
  	margin-top: 10px;
  }
  .btn-xs {
  	margin-bottom: 10px;
  }
  a {
  	all: unset;
  }
}

.panslist:hover {
	 box-shadow: 0 2px 4px rgba(#000, 0.2),0 4px 8px rgba(#000, 0.2);
	 transition: 0.4s ease;
}

.panslist-thumb {
	width: 100%;
	height: 200px;
	background-position: 50% 50% !important;
	margin-top: 10px;
  margin-bottom: 10px;
}

.panslist:last-child {
	margin-bottom:0px;
}

li {
	list-style-type: none;
}

.videocontainer, .footer-videocontainer {
	position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

#myVideo, #footer-myVideo {
	position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0%;
  -webkit-transform: translate(0, 20%);
}

.addpans-material {
	padding: 10px !important;
	margin-top: 10px;
	a button {
		padding: 0 1.6rem; 
	}
}

.addpans {
	border: 2px solid white;
	padding: 10px !important;
	margin-top: 18px;
	border-radius: 4px;
}

.addpans:hover {
	background: white;
}

.addpans a:hover {
	color: white;
}

.brand {
	padding: 15px;
	img {
		width: 48px;
	}
	li {
		float:right;
		margin-top: 15px;
		font-size: larger;
	}
}

.navigation li {
	float: left;
	padding: 30px;
	padding-bottom: 20px;
}

.comfort span {
	vertical-align: sub;
	padding-left:10px;
	font-size: 14px;
}

.main {
	padding-bottom: 30px;
}

.leftsidebar {
	background: white;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c8c8c8;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
 	transition: 0.6s ease;
}

.leftsidebar:hover {
	box-shadow: 0 2px 4px rgba(#000, 0.2),0 4px 8px rgba(#000, 0.2);
	transition: 0.6s ease;
}

md-checkbox {
	font-size:16px;
}

.premium {
	height:476px; 
	overflow:hidden;
}

.premium h4, .slider h4, .mainblock h4 {
	color: #565a5c;
	margin-bottom: 50px;
}

.premium-main {
	width: 100%;
	height: 344px;
	display: table;
	background-position: 50% 50% !important;
}

.premium-main h2 {
	text-align: center;
	vertical-align: middle;
  display: table-cell;
  color: white;
	text-shadow: 1px 1px 4px black;
}

.morepremium, .morehotels, .info-addpans {
  margin: 50px auto;
  border-color: #c4c4c4;
  background: white;
  color: #565a5c;
  padding: 9px 27px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  font-weight: 700;
}

.premium-main h2 {
	background-color: rgba(0, 0, 0, 0.6);
}

.info-addpans {
	padding: 8px 27px !important;
	margin: 0px !important;
}

.info {
	color: #565a5c;
	background: #edefed;
	padding: 10px;
	margin-bottom: 50px;
	margin-right: 10px;
	padding-left: 45px;
	border:1px solid #dce0e0
}

.close {
	position: absolute;
  right: 20px;
  z-index: 1200;
}

.main a {
	text-decoration: none !important;
	font-size: large;
	font-weight: 900;
}

.sortbyprice {
	color: darkblue;
	cursor: pointer;
	outline: none;
}

.tv, .parking, .kitchen, .air, .delivery, .wi-fi, .shower, .pool, .food, .kettle, .sunbeds, .playground, .fridge, .laundry {
	float: left;
	background: white;
	padding: 10px;
  width: 194px;
  text-align: center;
  border: 1px solid #dce0e0;
  margin: 5px;
  cursor:pointer;
  outline: none;
}

.tv_active, .parking_active, .kitchen_active, .air_active, .delivery_active, .wi-fi_active, .shower_active, .pool_active , .playground_active, .sunbeds_active, .kettle_active, .food_active, .fridge_active, .laundry_active {
  background: #edefed;
  cursor:pointer;
}

.slider {
	width: 100%;
	padding-left:0px;
	padding-right:0px;
}

.swiper-container {
	height: 600px;	
	margin-bottom: 50px;
}

.swiper-slide img {
	width: 100% !important;
}

.swiper-button-prev, .swiper-button-next {
	background-image: url('slider/arrow.png') !important; 
	width: 56px;
	height: 56px;
  background-size: 56px 56px;
  outline: none;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.add {
	margin-bottom: 50px;
}

/*********************

				FOOTER

*********************/

.footer {
	background: #81D4FA;
	padding:20px 0px;
  bottom: 0px;
  width: 100%;
}

.footer-bottom {
	border-top: 2px solid grey;
  margin-top: 20px;
  padding-top: 20px;
}

.footer-bottom>.phone {
	font-size: 25px;
}

.footer-bottom>.social li {
	float: left;
	padding:0px 15px;
}

.footer-bottom>.social li img {
	width: 32px;
}

/*********************

		HELP

*********************/

.help {
	margin-top: 20px;
	img {
		width: 100%;
		padding: 20px 0px;
	}
}

md-toolbar {
	padding: 0px 24px;
	outline: none;
		h3 {
			outline: none;
		}
}

md-content {
  padding: 24px; 
  font-size: 1.6rem;
  line-height: 1.6em;
}

/*********************

		REGISTRATION

*********************/

md-input-container {
	margin: 10px !important;
}

md-radio-group {
	text-align: left;
}

.text-center .form-inputs {
	background: white;
  margin: 20px 35%;
  padding: 30px 0px;
  border: 1px solid rgba(128, 128, 128, 0.35);
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  span {
  	text-align: left;
  	float: left;
  	padding: 0px 20px;
  }
}

/*********************

		Login

*********************/
.button-edit_user {
	padding: 20px 0px;	
}
.showfilters {
	opacity: 1;
}

.showfilters.ng-hide {
	opacity: 0;	
}

.myfade {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
}

.myfade.ng-enter {
  opacity: 0;
}

.myfade.ng-enter.ng-enter-active {
  opacity: 0.99;
}

.myfade.ng-leave {
  opacity: 0.99;
}

.myfade.ng-leave.ng-leave-active {
  opacity: 0;
}

/*********************

		ARTICLES

*********************/

.articles {
	margin-top: 20px;
	.articles-prev {
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1px 20px 10px 20px;
    margin-bottom: 20px;
    transition: 0.4s ease;
	}
	.author {
		color: #00ab6b;
	}
	.title {
		font-size: 31px;
		color: rgba(0,0,0,.8);
	}
	.readmore {
		font-size: 15px;
		color: rgba(0,0,0,.44);
	}
	.date {
		color: rgba(0,0,0,.44);
	}
	.head img {
		width: 100%;
		padding-right: 15px;
		margin-bottom: 30px;
		cursor: pointer;
	}
	.articles-prev:hover {
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
	}
	.text {
		font-size: 21px;
		font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
		text-align: justify;
	}
	pre {
		word-break: normal !important;
		border: none !important;
		white-space: pre-line;
		font-family: inherit !important;
		padding: 0px !important;
	}
}


/*************************
				KEYFRAMES
*************************/

@-webkit-keyframes step-one {
  0%   { transform: rotateZ(0deg) }
  40% { transform: rotateZ(-20deg) }
  100% { transform: translateY(440px) }  
}
@-moz-keyframes step-one {
  0%   { transform: rotateZ(0deg) }
  40% { transform: rotateZ(-20deg) }
  100% { transform: translateY(440px) }  
}
@-o-keyframes step-one {
  0%   { transform: rotateZ(0deg) }
  40% { transform: rotateZ(-20deg) }
  100% { transform: translateY(440px) }  
}
@keyframes step-one {
  0%   { transform: rotateZ(0deg) }
  40% { transform: rotateZ(-20deg) }
  100% { transform: translateY(440px) }  
}
