// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 640px) {
	.headimg-hotelname h3 {
		float:left !important;
	}
}

.headimg {
	height: 550px;
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	cursor: pointer;
	background-size: cover !important;
	background-position: 50% 50% !important;
}

.headimg-hotelname {
	width: 100% !important;
	background-color: rgba(60,63,64,0.9);
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.headimg-hotelname h2, .headimg-hotelname h3 {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.heading-hotelmane h2 {
}
.headimg-hotelname h3 {
	float: right;
}

.hotelsbutton {
	background: white;
	border-bottom:1px solid #dce0e0;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.hotelsbutton h3 {
	padding: 0px;
}

.hotelsbutton img {
  padding-bottom: 10px;
}

.hotelsbutton span {
	vertical-align: sub;
	padding-left:10px;
}

.premiuminshow .premium-main {
	margin-bottom: 10px;
}

.premiuminshow h3 {
	text-align: center;
}

.infohotel {
	margin-top: 10px;
}

.infohotel .row {
	border-bottom: 1px solid #dce0e0;
	padding-bottom: 20px;
	padding-top: 20px;
}

.infohotel .row:last-child {
	border-bottom: none;
}

.infohotel h5 p {
	color:#82888a;
	margin-left: -15px;
}

.infohotel h4 {
	margin-left: -15px;
}

img.ng-thumb {
	height: 150px !important;
}


/**********************

ALBUM SHOW

**********************/

.album-photo_thumb img {
	width: 100%;
}

.album-photo_thumb button {
	margin-top: 10px;
	margin-bottom: 10px;
}

/**********************

PREMIUM PAGE

**********************/

.premium-hotels {
	margin-bottom: 30px;
}

.premium-hotels:nth-child(3n) {
	width: 66.66666667% !important;
}


/*********************

NEW PAGE

*********************/

.newhotel {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -15px !important;
	margin-right: -15px !important;
	background: white;
}