<div ng-include="'shared/headernew.html'"></div>

<h2 class="text-center">Изменить профиль</h2>
<form editable-form name="editableForm" onaftersave="updateUser(myuser.id)" class="text-center">
<div class="form-inputs">
  <div>
    <div class="row padding20-0">
      <div class="col-md-6">
        <span class="title">Ваш email:</span>    
      </div>
      <div class="col-md-6">
        <span editable-text="myuser.email" ng-model="myuser.email" onbeforesave="checkName($data)" e-required>{{ myuser.email || 'empty' }}</span> 
      </div>
    </div>
  </div> 
  <div>   
    <div class="row padding20-0">
      <div class="col-md-6">
        <span class="title">Ваш текущий пароль:</span>    
      </div>
      <div class="col-md-6">
        <span editable-text="myuser.current_password" ng-model="myuser.current_password" e-required>{{ myuser.current_password || '********' }}<span>
      </div>
    </div>
  </div>
  <div>   
    <div class="row padding20-0">
      <div class="col-md-6">
        <span class="title">Ваш новый пароль:</span>    
      </div>
      <div class="col-md-6">
        <span editable-text="myuser.password" ng-model="myuser.password" e-required>{{ myuser.password || '********' }}</span>
      </div>
    </div>
  </div>

  <div class="button-edit_user">
    <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
      Изменить данные
    </button>
    <!-- buttons to submit / cancel form -->
    <span  ng-show="editableForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
        Сохранить
      </button>
      <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
        Отмена
      </button>
    </span>
  </div>
</div>
</form>  