<div class="footer myfade">
	<!-- <div class="footer-videocontainer">
		<video id="footer-myVideo"  autoplay loop mute>
			<source src="http://storage.akamai.coub.com/get/b242/p/coub/simple/cw_file/218e213a5b0/b43f6add37ab0cdc1d37c/mp4_big_size_1458843949_big.mp4" type="video/mp4"> 
		</video>
	</div> -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<h4>Полезные ссылки:</h4>
					<li><a href="#">Раз</a></li>
					<li><a href="#">Два</a></li>
					<li><a href="#">Три</a></li>
					<li><a href="#">Четыре</a></li>	
				</div>
				<div class="col-md-3 col-md-offset-1">
					<h4>Наши проекты:</h4>
					<li><a href="#">Раз</a></li>
					<li><a href="#">Два</a></li>
					<li><a href="#">Три</a></li>
					<li><a href="#">Четыре</a></li>	
				</div>
				<div class="col-md-3 col-md-offset-1">
					<h4>Связаться с нами:</h4>
					<li><a href="#">Раз</a></li>
					<li><a href="#">Два</a></li>
					<li><a href="#">Три</a></li>
					<li><a href="#">Четыре</a></li>	
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row footer-bottom">
				<div class="col-md-4 ">Телефон</div>
				<div class="col-md-4 ">Социальные сети</div>
				<div class="col-md-4 ">Информация</div>
			</div>
		</div>
	</div>