<header>
	<div class="videocontainer">
		<video id="myVideo"  autoplay loop>
		sea_background
			<!-- <source src="http://storage.akamai.coub.com/get/b3/p/coub/simple/cw_file/7d133102e84/6c46557a0a6b2cab82c9d/mp4_big_size_1411253129_big.mp4" type="video/mp4"> -->
			<source src="/assets/sea_background.mp4" type="video/mp4">
		</video>
	</div>
	<h1>Отдых на Арабатской стрелке 2016</h1>
	<nav>
		<div class="container-fluid">
			<div class="row">
				<div class="brand pull-left"><a href="#/home">BRAND</a></div>
				<div class="navigation pull-right">
					<ul>
					<a href="#/new"><li class="addpans">Добавить пансионат</li></a>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Регистрация</a></li>
					<li><a href="#">Войти</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
