<nav class="headernew">
	<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.6);">
		<div class="row">
			<div class="brand pull-left"><a href="#/home">BRAND</a></div>
			<div class="navigation pull-right">
				<ul>
				<a href="#/new"><li class="addpans">Добавить пансионат</li></a>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Регистрация</a></li>
				<li><a href="#">Войти</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

