<!DOCTYPE html>
<html ng-app="pansionatApp">
<head>
  <title>Genich</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid main">
		<div id="page-preloader"><span class="spinner"><img src="/assets/icon/logo.png" alt="" style="width: 64px;"></span></div>
    <div autoscroll ui-view ></div>
	</div>
  
	<!-- footer -->
  <%= render 'layouts/footer' %>
</body>
</html>
